[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-chess = "*"
flask = "*"
gunicorn = "*"
tensorflow = "*"
keras = "*"
flask-talisman = "*"

[requires]
python_version = "3.6"
