* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: white;
}

h3 {
  color: var(--tertiary-color);
  font-size: 20px;
  font-family: var(--secondary-font);
}

div#board {
  max-width: 500px;
  max-height: 550px;
  margin: auto;
  margin-top: 2%;
}

div#status {
  margin: 10px auto;
  color: var(--tertiary-color);
  font-size: 20px;
  font-family: var(--secondary-font);
}

#ppPopup {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  padding: 10px;
  background-color: rgba(123, 123,123, 0.8);
  display: none;
}
