* {
  text-align: center;
  box-sizing: border-box;
  --primary-color: green;
  --secondary-color: blanchedalmond;
  --tertiary-color: rgb(70, 54, 30);
  --primary-font: 'Pacifico';
  --secondary-font: 'Architects Daughter';
}

#body {
  margin: 0 5px;
}

h1 {
  font-size: 35px;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h2 {
  font-size: 25px;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

h3 {
  font-style: italic;
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin: 10px;
}

.custom-select select {
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}
