*{
  text-align: center;
  box-sizing: border-box;
  --primary-color: green;
  --secondary-color: blanchedalmond;
  --tertiary-color: rgb(70, 54, 30);
  --primary-font: 'Pacifico';
  --secondary-font: 'Architects Daughter';
}

div.all {
  position: absolute; 
  max-width: 800px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1{
  font-size: 60px;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h2{
  font-size: 50px;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

h3 {
  font-style: italic;
  font-size: 40px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin: 10px;
}

.custom-select select {
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

#playBtn {
  margin: 30px;
  padding: 10px;
  font-family: 'Pacifico';
  font-size: 30px;
  color: var(--secondary-color);
  text-shadow: 10px;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 4px solid var(--secondary-color);
  box-shadow: 7px 7px 2px 1px gray;
}

div#bgpic {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background-image: url("/img/chess_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.33;
}
