*{
  text-align: center;
  box-sizing: border-box;
  --primary-color: green;
  --secondary-color: blanchedalmond;
  --tertiary-color: rgb(70, 54, 30);
  --primary-font: 'Pacifico';
  --secondary-font: 'Architects Daughter';
}

h1 {
  font-size: 40px;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h2 {
  font-size: 30px;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

h3 {
  font-style: italic;
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin: 10px;
}

.custom-select select {
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

#playBtn {
  margin: 30px;
  padding: 10px;
  font-family: 'Pacifico';
  font-size: 30px;
  color: var(--secondary-color);
  text-shadow: 10px;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 4px solid var(--secondary-color);
  box-shadow: 7px 7px 2px 1px gray;
}

#bgpic {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/img/chess_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.33;
  z-index: -1;
}
